# Ignore a specific file
psus_located.csv
ca.psus_located.csv
au.psus_located.csv
de.psus_located.csv
uk.psus_located.csv
nl.psus_located.csv
playground.py
spec_tierlist.csv
spec_tierlist_old.csv
locator.py
venv/
__pycache__/
.vscode/
psus_rated.csv
PCCase/
caseLocator.py
cases.csv